body{
	background-color: #ae6eaf;
}
header{
	position: relative;
    text-align: center;
    color: white;
}
header img{
	width: 100%;
}
.centered{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
	color:white;
	font-size: 48px;	
	text-shadow: 4px 4px black;
}
h2{
	color:white;
	text-shadow: 2px 2px black;
	text-decoration: underline;
}
.centerLabel{
	text-align: center;
}
.color{
	border-color:white;
	border-style: solid;
	border-width: 2px;
}
button, #addButton{
	font-size: 16px;
	font-weight: bold;
	color: white;
    background: linear-gradient(to top, #ae6eaf 0%, #ccccff 100%);
	border-color: #ae6eaf;
	border-style: solid;
	border-width: 2px;
}
button{
	padding: 2%;
	margin: 0.5%;
}
#newButtons button, input{
	width: 80%;
	margin-left: 10%;
}
input{
	padding: 5%;
	font-size: 16px;
}
/* Generated Divs */
.item { 
	/* This is the div that holds the gif and rating */
	/* width: 48%; */
	display: inline-flex;
	margin-bottom: 1%;
}

.gif{
	height:auto;
	width:100%;
	position: relative;
}

.rating{
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	background-color: white;
}
/*  */
